@import "boilerplate.css";
@import "plugins.css";

/* -------------------------------------------------------------- 
   SCREEN
-------------------------------------------------------------- */

/* Put your site styles here */

#container { 
    margin: 10px auto;
    width: 1000px;
} 

#maps { 
    height: 300px;
    width: 300px;
} 
